html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  background-color: var(--bg);
  color: var(--text);
  @apply transition-colors duration-200 ease-in-out;
  background: rgb(244, 251, 248);
  background: linear-gradient(0deg, rgba(244, 251, 248, 1) 0%, rgba(244, 251, 248, 1) 35%, rgba(140, 217, 168, 1) 100%);
  // test comment
}
